<footer>
	<!-- Footer -->
	<p>
		<a target="_blank" href="#">帮助</a><span>|</span><a target="_blank" href="#">意见反馈</a><span>|</span> Copyright&copy; &nbsp;&nbsp;1996-2012 jdd 版权所有
	</p>
	<p>
		客服电话：4006900000 &nbsp;提示音后按1键(按当地市话标准计费)
	</p>
</footer>